<div id="wrapper">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
 <style>
   div.hiraRes {
  
  overflow-y: scroll;
}
 </style>  
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.15.5/dist/xlsx.full.min.js"></script>
   <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
   
  <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
         
        </div>
        <div class="sidebar-brand-text mx-3">KirEx <sup>Admin</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Reports
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed active" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-clipboard-check"></i>
          <span>Hira</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Hira functions:</h6>
            <a class="collapse-item" href="/hira">Get all submissions</a>
            <a class="collapse-item" href="" data-toggle="modal" data-target="#hiraFilterModal">Filter submissions</a>
          </div>
        </div>
      </li>

     
      <!-- Divider -->
      <hr class="sidebar-divider">

      

      <!-- Nav Item - Incidents -->
      <li class="nav-item">
        <a class="nav-link" href="/incidents">
          <i class="fas fa-exclamation-triangle"></i>
          <span>Incidents</span></a>
      </li>

     

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

   <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/filterHira" method="GET">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" name="name"  placeholder="Filter Hira submissions by Name" aria-label="Search" aria-describedby="basic-addon2">
              <input type="hidden" class="form-control bg-light border-0 small" name="projectNumber"  placeholder="Filter Hira submissions by Name" aria-label="Search" aria-describedby="basic-addon2">
              <input type="hidden" class="form-control bg-light border-0 small" name="area"  placeholder="Filter Hira submissions by Name" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search" action="/filterHira" action="GET">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" name="name" placeholder="Filter Hira submissions by Name" aria-label="Search" aria-describedby="basic-addon2">
                     <input type="hidden" class="form-control bg-light border-0 small" name="projectNumber"  placeholder="Filter Hira submissions by Name" aria-label="Search" aria-describedby="basic-addon2">
              <input type="hidden" class="form-control bg-light border-0 small" name="area"  placeholder="Filter Hira submissions by Name" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

          

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.name}}</span>
                <img class="img-profile rounded-circle" src="https://ui-avatars.com/api/?name={{user.name}}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
               
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">HIRA RESULTS</h1>
          <p class="mb-4">Due to the scope of the dataset, only a limited amount of data is visible. To view it all on a case by case basis, click on the <code>More info </code> Button. </p>
     
          <p class="mb-4">You can also generate an <code>Excel </code> file of all data by clicking on the <cite>Generate Report </cite>Button</p>
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">View Results</h6>
           <button id="button-a" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> <i class="fas fa-download fa-sm text-white-50"> </i> Generate Report</button>
           <button id="filterHiraButton" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#hiraLimit"> <i class="fas fa-filter fa-sm text-white-50"> </i> Limit results</button>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Date/Time</th>
                      <th>Name</th>
                      <th>Project Number</th>
                      <th>More Info</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Date/Time</th>
                      <th>Name</th>
                      <th>Project Number</th>
                      <th>More Info</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    
                    {{#each hiraResult}}
                     <script type="text/javascript">


        $(document).ready(function () { //
            $(".trimText").each(function () {
                var maxwidth = 25;
                if ($(this).text().length > maxwidth) {
                    $(this).text($(this).text().substring(0, maxwidth));
                    $(this).html($(this).html() + ' ');
                }
            });
        });
    </script>

                      <tr>
                        <td class="trimText">{{this.createdAt}}</td>
                        <td>{{this.name}}</td>
                      <td>{{this.projectNumber}}</td>
                    
                         <td> <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#info{{this.id}}">
              
              <span class="pl-1 d-none d-sm-inline-block">More Info</span>
            </button></td>
                 
                    </tr>
                               <!--More info Modal-->
            <div class="modal fade" id="info{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="More Info Modal"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-dark font-weight-bold"><i
                        class="fas fa-info-circle"></i> Hira submitted by {{this.name}} ({{this.companyNumber}})</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="hiraRes modal-body text-dark">
                    <span class=" font-weight-bold">Submitted on</span>  <span class=" trimText font-weight-bold">{{this.createdAt}}</span> 
                    <br> <br> <p><i class="fas fa-circle  text-gray-50"></i> Project Number: <b>{{this.projectNumber}}</b></p>
                     <p><i class="fas fa-circle  text-gray-50"></i> Area: <b>{{this.area}}</b></p>
                     <hr>
                     <p><i class="fas fa-circle  text-gray-50"></i> Has this task been done before: <b>{{#getText this.doneBefore}}{{/getText}}</b></p>
                     <p><i class="fas fa-circle  text-gray-50"></i> Have changes been made to the standard process: <b>{{#getText this.haveChangesMade}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Safe access to work area - clean and Tidy: <b>{{#getText this.safeAccess}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Electrical Equipment in good condition: <b>{{#getText this.electricalEquipment}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Is Machine Guarding adequate: <b>{{#getText this.machineGuarding}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> All tools and Equipment pre-inspected: <b>{{#getText this.preinspectedEquipment}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Correct Tools/equipment Available: <b>{{#getText this.correctEquipment}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Have the SDS been read and reviewed: <b>{{#getText this.sds}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Controls for toxic gasses/fumes in place: <b>{{#getText this.controlToxic}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Are Fume cupbords/extraction systems Working: <b>{{#getText this.fumeSystems}}{{/getText}}</b></p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Correct PPE valiable and used: <b>{{#getText this.ppe}}{{/getText}}</b></p>
                    <hr>
                     <p><i class="fas fa-circle  text-gray-50"></i> Hazards: <b>{{this.hazard}}</b></p>
                     <p><i class="fas fa-circle  text-gray-50"></i> Other Hazards: <b>{{this.otherHazard}}</p>
                    <p><i class="fas fa-circle  text-gray-50"></i> Control of Hazard: {{this.controlHazard}}</b></p>
                     <p><i class="fas fa-circle  text-gray-50"></i> Other means of Hazard Control: <b>{{this.otherHazardControl}}</b></p>
                      <p><i class="fas fa-circle  text-gray-50"></i> Monitor the Process: <b>{{#getText this.monitorProcess}}{{/getText}}</b></p>
                       <p><i class="fas fa-circle  text-gray-50"></i> Additional Comments: <b>{{this.additionalComments}}</b></p>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok, Got it</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
                    {{/each}}
                  </tbody>
           
                </table>
                      
        
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
         <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <p id="copyright"><div>
                <script type="text/JavaScript"> 
                let theDate = new Date();
                let currYear = theDate.getFullYear();
              document.getElementById("copyright").innerHTML = "Copyright ©&nbsp;Vitomilix " + currYear;
            </script></div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/users/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

     <!-- Hira Filter Modal Modal-->
  <div class="modal fade" id="hiraFilterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">How do you want to filter Hira results</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
<form action="/filterHira" method="GET">
            <div class="form-group">
              <input type="text" class="form-control bg-light border-0 small" name="name"  placeholder="Filter by Name" aria-label="Search" aria-describedby="basic-addon2">
            </div>
            <div class="form-group">
            <input type="text" class="form-control bg-light border-0 small" name="projectNumber"  placeholder="Filter by Project Number" aria-label="Search" aria-describedby="basic-addon2">
            </div>
            <div class="form-group">
                <input type="text" class="form-control bg-light border-0 small" name="area"  placeholder="Filter by Area" aria-label="Search" aria-describedby="basic-addon2">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-md" type="submit">
                  Search
                  <i class="fas fa-search fa-sm"></i>
                </button>
             
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{{!-- create XLSX Report --}}
<script data="{{hiraResultRawString}}">
  let data = document.currentScript.getAttribute('data');

let jsonData = JSON.parse(data);



let today = new Date();
let day = String(today.getDate()).padStart(2, '0');
let month = String(today.getMonth() + 1).padStart(2, '0'); 
let year = today.getFullYear();

let filename = "Hira-Export-" + day + "-" + month + "-" + year + ".xlsx";

        var wb = XLSX.utils.book_new();
        wb.Props = {
                Title: "Hira Export",
                Subject: "Export of Hira Records",
                Author: "KirEx",
                CreatedDate: new Date(year,month,day)
        };
        
        wb.SheetNames.push("Hira Export");
        var ws_data = [['hello' , 1]]; ;
       var ws = XLSX.utils.json_to_sheet(jsonData);
        wb.Sheets["Hira Export"] = ws;
        var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
        function s2ab(s) {
  
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
                
        }
        $("#button-a").click(function(){
                saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), filename);
        });
  
</script>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>


<!-- Hira Limit Modal Modal-->
  <div class="modal fade" id="hiraLimit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">How many results would you like</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
<form id="modalForm" action="/hira/limit" method="GET">
            <div class="form-group">
              <input type="number" class="form-control bg-light border-0 small" name="limit"  placeholder="How many results would you like"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" aria-label="Search" aria-describedby="basic-addon2">
            </div>
           
            <div class="form-group">
                <button class="btn btn-primary btn-md" type="submit">
                  Search
                  <i class="fas fa-search fa-sm"></i>
                </button>
             
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>