<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SA COVID | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
{{!-- <script src="plugins/jqvmap/jquery.vmap.min.js"></script> --}}
{{!-- <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script> --}}

<link rel="stylesheet" href="plugins/jquery-jvectormap-2.0.5.css">
<script src="plugins/jquery-jvectormap-2.0.5.min.js"></script>
<script src="plugins/jqvmap/maps/jquery-jvectormap-za-mill.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="dist/js/pages/dashboard.js" deaths = "{{latest_data.deaths}}" recoveries = "{{latest_data.recovered}}"
provinces_confirmed = {{confirmed_cases_json}}></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        
      </li>
    </ul>



    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy me a Coffee', '#000000', 'T6T31QQ03');kofiwidget2.draw();</script>  
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="https://eu.ui-avatars.com/api/?name=South+Africa+covid&background=b0b4bc&color=353a3f" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">SA COVID-19</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        </div>
        <div class="info">
          <span class="text-light">Last updated</span>
          <a href="#" class="d-block"> <i class="far fa-clock"></i> {{time}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
   
       
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Charts
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/charts/chartjs.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>ChartJS</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/charts/flot.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Flot</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/charts/inline.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inline</p>
                </a>
              </li>
            </ul>
          </li>
         
       
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-globe-africa"></i>
              <p>
                Provinces
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/provinces/eastern-cape" class="nav-link">
                  <img src="https://eu.ui-avatars.com/api/?name=E+C&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>Eastern Cape</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/free-state" class="nav-link">
                  <img src="https://eu.ui-avatars.com/api/?name=F+Se&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>Free State</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/gauteng" class="nav-link">
                  <img src="https://eu.ui-avatars.com/api/?name=G+P&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>Gauteng</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/kwa-zulu-natal" class="nav-link">
                  <img src="https://eu.ui-avatars.com/api/?name=Z+N&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>KwaZulu Natal</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/limpopo" class="nav-link">
                 <img src="https://eu.ui-avatars.com/api/?name=L&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>Limpopo</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/mpumalanga" class="nav-link">
                  <img src="https://eu.ui-avatars.com/api/?name=M+P&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>Mpumalanga</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/north-west" class="nav-link">
                  <img src="https://eu.ui-avatars.com/api/?name=North+West&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>North West</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/northern-cape" class="nav-link">
                  <img src="https://eu.ui-avatars.com/api/?name=Northern+Cape&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>Northern Cape</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/provinces/western-cape" class="nav-link">
                  {{!-- <i class="far fa-circle nav-icon"></i> --}}
                  <img src="https://eu.ui-avatars.com/api/?name=Western+Cape&background=b0b4bc&color=353a3f" class="rounded-circle" width = "20"alt="">
                  <p>Western Cape</p>
                </a>
              </li>
            </ul>
          </li>



          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Tables
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Simple Tables</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/tables/data.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>DataTables</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>jsGrid</p>
                </a>
              </li>
            </ul>
          </li>
         
          <li class="nav-header">MISCELLANEOUS</li>
          <li class="nav-item">
            <a href="https://github.com/luisternou/covidDash/blob/develop/README.md" target="_blank" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>Documentation</p>
            </a>
          </li>
         
    
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">CovidDash v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{latest_data.cases}}</h3>
                <p> +{{confirmed_up}}%</p>
                <p>Total confirmed cases</p>
              </div>
              <div class="icon">
               <i class="far fa-clipboard"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{latest_data.recovered}}</h3>
                <p> +{{recovered_up}}%</p>
                <p>Total Recovered</p>
              </div>
              <div class="icon">
                <i class="fas fa-heartbeat"></i>
              </div>
             
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{latest_data.active}}</h3>
                <p> {{sign}} {{active_change}}%</p>
                <p>Active Cases</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{latest_data.deaths}}</h3>
                <p> +{{deaths_up}}%</p>
                <p>Total Deaths</p>
              </div>
              <div class="icon">
                <i class="fas fa-praying-hands"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Closed Cases
                </h3>
                <div class="card-tools">
                  <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                      <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                    </li>
                  </ul>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart"
                       style="position: relative; height: 300px;">
                      <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>                         
                   </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>                         
                  </div>  
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- DIRECT CHAT -->
            <div class="card bg-gradient-info">
              <div class="card-header">
               <h3 class="card-title">
                  <i class="fas fa-lock"></i>
                  Cases
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
              {{!-- <div class="card-footer bg-transparent">
                <div class="row">
                  <div class="col-4 text-center">
                    <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                           data-fgColor="#39CCCC">

                    <div class="text-white">Mail-Orders</div>
                  </div>
                  <!-- ./col -->
                  <div class="col-4 text-center">
                    <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
                           data-fgColor="#39CCCC">

                    <div class="text-white">Online</div>
                  </div>
                  <!-- ./col -->
                  <div class="col-4 text-center">
                    <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
                           data-fgColor="#39CCCC">

                    <div class="text-white">In-Store</div>
                  </div>
                  <!-- ./col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
               
              </div>
              <!-- /.card-footer--> --}}
            </div>
            <!--/.direct-chat -->

            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-info-circle"></i>
                  About the Dashboard
                </h3>

       
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <p><b>CovidDash</b> is an Unofficial <code>COVID-19</code> Statistics Dashboard, aimed to give you a good 
                overview of what is happening <code>Coronavirus</code> in South Africa </p>
                <br>
                <h4>Features include:</h4>
                <ul>
                  <li>
                    A summary of the current state of cases in South Africa across the country 
                  </li>
                  <li>
                    Increase/Decrease percentage compared to the day before
                  </li>
                  <li>
                    A graphical representation of Recoveries VS Deaths
                  </li>
                  <li>
                    A graphical representation of the groth of Total cases 
                  </li>
                  <li>
                    A Map based breakdown of total cases per province (also colour-coded)<br>
                    <i>Hover over the respective province to vie the total cases</i>
                  </li>
                  <li>
                    Current lockdown level
                  </li>
                  <li>
                    A summary of by province
                  </li>
                  <li>
                    Current Weather at your location
                  </li>
                </ul>
          
              <h4>Data Sources</h4>
              <ul>
                <li>
                  National Institute for communicable diseases (NICD) of South Africa
                </li>
                <li>
                  John's Hopkins Univerity
                </li>
                <li>
                  Worldometers
                </li>
              </ul>
              <h5>API Provided by:</h5>
              <ul>
                <li>
                  <a href="https//api.covid19api.com/dayone/country/south-africa">covid19api.com</a>
                </li>
              </ul>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
               
              </div>
            </div>
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">

            <!-- Map card -->
            <div class="card bg-gradient-secondary">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-map-marker-alt mr-1"></i>
                  Provinces
                </h3>
                <!-- card tools -->
                <div class="card-tools">
                 
                  
                  <button type="button"
                          class="btn btn-secondary btn-sm"
                          data-card-widget="collapse"
                          data-toggle="tooltip"
                          title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <div class="card-body">
                <div id="map" style="height: 250px; width: 100%;"></div>
              
              </div>
              <!-- /.card-body-->
           
            </div>
            <!-- /.card -->

            <!-- solid sales graph -->
            <div class="card bg-gradient-{{lockdown_colour}}">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-lock mr-1"></i>
                  Lockdown Level
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn bg-{{lockdown_colour}} btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn bg-{{lockdown_colour}} btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <h3>We are currently at Lockdown Level</h3><center><h1><b>{{lockdown}}<b></h1></center>
              </div>
              <!-- /.card-body -->
              
            </div>
            <!-- /.card -->

            <!-- Calendar -->
            <div class="card bg-gradient-success">
              <div class="card-header border-0">

                <h3 class="card-title">
                  <i class="far fa-calendar-alt"></i>
                  Calendar
                </h3>
                <!-- tools card -->
                <div class="card-tools">
                  <!-- button with a dropdown -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                      <i class="fas fa-bars"></i></button>
                    <div class="dropdown-menu" role="menu">
                      <a href="#" class="dropdown-item">Add new event</a>
                      <a href="#" class="dropdown-item">Clear events</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">View calendar</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <!-- /. tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body pt-0">
                <!--The calendar -->
                <div id="calendar" style="width: 100%"></div>
              </div>
              <!-- /.card-body -->
            </div>

                     <!-- Disclaimer -->
            <div class="card bg-gradient-danger">
              <div class="card-header border-0">
                  
                <h3 class="card-title">
                  <i class="far fa-calendar-alt"></i>
                  Legal gubbins
                </h3>
                <!-- tools card -->
                <div class="card-tools">
                  <!-- button with a dropdown -->
               
                <!-- /. tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body pt-0">
                <!--The calendar -->
                <br>
                <br>
                <h4>Disclaimer </h4>
                <p>
                 Please note, that this Dashboard is in no way affiliated with the Government of
                  South Africa. This is a side-project of mine during my studies.
                  <br>
                </p>
               <p>
       
               It is possible that the Data shown may not be 100% accurate when viewing the Dashboard.
               This is may happen shortly after new statistics have been published and the change has not yet propagated.
               <br>
               Should this happen, simply have a look later. The Data will update as soon as it is available.
              
            
               </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; {{year}} <a href="vitomilix-webdesign.com">Vitomilix</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.5
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Drop me a line</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hope you like the Dashboard and get the info you need.
        <br>
        If you would like to let me know about something (Compliment/Complaint/Suggestion),
        <a href="mailto:andreas@krueger.nom.za?subject=%5BCovidDash%5D%20Tell%20me%20more!&amp;body=Howzit%0A%0AI%20really%20like%20your%20stuff!%20Tell%20me%20more%20about%20you!%0A%0ARegards%2C%0A-Name">drop me a Line.</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
      if (sessionStorage.getItem('#betaMessage') !== 'true') {
        $('#betaMessage').modal('show');
        sessionStorage.setItem('#betaMessage', 'true');
      }
    });
</script>


<!-- Modal -->
<div class="modal fade" id="betaMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hold on, I'm not finished yet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No idea how you got hold of this tremendous Website, but I am still working on it, and it should be done soon.
        <br>
Some features work already like the summary at the top and the map but some are still a work in progress, pop round in a few days time, I may have finished by then.
      Thanks for your understanding. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok, Ek verstaan</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>


</body>
</html>
