<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form action="/users/login" method="post" class=" needs-validation">
                     {{> message}}
                     <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="password">
                    </div>
                    <input type="submit" value="Log in" class="btn btn-primary btn-user btn-block">
    
               
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="reset">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/users/register">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

{{!-- <div class="form-container position-relative shadow">
  <form action="/users/login" method="post" class="needs-validation" novalidate>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="row mb-4">
      <div class="col-2 ml-2">
        <small class="text-danger pl-2">Required*</small>
      </div>
      <div class="col-8">
        <h4 class="text-center font-weight-bold">Login</h4>
      </div>
    </div>
    <!--Display error message-->
    {{> message}}
    <!--From input-->
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="email" class="col-3 col-form-label text-right">Email*</label>
      <input type="email" name="email" id="email" class="col-9 form-control" value="{{user.email}}"
        pattern="^\S+@\w+\.\w+$" required>
      <div class="valid-feedback col-9 p-0">
        Looks Great!
      </div>
      <div class="invalid-feedback col-9 p-0">
        Your Email should be of the form shopping@kwiens.com
      </div>
    </div>
    <div class="form-group row ml-1 mr-4 justify-content-end">
      <label for="password" class="col-3 col-form-label text-right">Password</label>
      <input type="password" name="password" id="password" class="col-9 form-control" value="{{user.password}}"
        pattern="^\S{6,12}$" required>
      <div class="valid-feedback col-9 p-0">
        Looks Great!
      </div>
      <div class="invalid-feedback col-9 p-0">
        Your Password should have 6 - 12 Characters！
      </div>
    </div>
    <div class="row ml-1 mr-4 mt-0 justify-content-end">
      <div class="col-9 p-0 mt-0">
        <input type="submit" value="Log in" class="btn btn-info login-button">
        
      </div>
    </div>
    <hr class="mx-4">
    <div class="row ml-1 mr-4 mt-0  justify-content-end">
      <div class="col-3 col-form-label"></div>
      <div class="col-9 p-0 mt-0 d-flex justify-content-between align-items-center">
        <a href="/users/register" class="btn btn-sm btn-warning half-column"><i
            class=""></i>Register</a>
        <a href="/users/reset" class="btn btn-sm btn-danger half-column"><i ></i>Reset Password</a>
      </div>
    </div>
  </form>
</div> --}}